body {
  background-color: black;
  overflow: hidden;
  color: white;
}

.hexagon {
  fill: black;
  pointer-events: all;
}

.hexagon path {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.hexagon :hover {
  fill: lightgrey;
}

.hexagon .highlight.quest {
  fill: lightgreen;
}

.hexagon .highlight.route {
  fill: green;
}

.hexagon .highlight.dock {
  fill: blue;
}

.hexagon .highlight.obstacle {
  fill: grey;
}

.hexagon .highlight.threat {
  fill: red;
}

.hexagon .highlight.player {
  fill: yellow;
}

.mesh {
  fill: none;
  stroke: white;
  stroke-opacity: .2;
  pointer-events: none;
}

.border {
  fill: none;
  stroke: white;
  stroke-opacity: .5;
  stroke-width: 2px;
  pointer-events: none;
}

svg text {
  fill: white;
  font-family: FontAwesome;
  font-size: 12pt;
  pointer-events: none;
  user-select: none;
}

svg text.highlight {
  fill: black;
  font-family: FontAwesome;
  pointer-events: none;
}

#onionskin {
  background-color: rgba(100, 100, 100, 0.5);
  color: blue;
  text-align: center;
  vertical-align: middle;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto auto auto auto;
  position: fixed;
  z-index: 1000000;
}
