body {
  background-color: black;
  overflow: hidden;
  color: white;
}

.hexagon {
  fill: black;
  pointer-events: all;
}

.hexagon path {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.hexagon :hover {
  fill: lightgrey;
}

.hexagon .highlight.quest {
  fill: lightgreen;
}

.hexagon .highlight.route {
  fill: green;
}

.hexagon .highlight.dock {
  fill: blue;
}

.hexagon .highlight.obstacle {
  fill: grey;
}

.hexagon .highlight.threat {
  fill: red;
}

.hexagon .highlight.player {
  fill: yellow;
}

.mesh {
  fill: none;
  stroke: white;
  stroke-opacity: .2;
  pointer-events: none;
}

.border {
  fill: none;
  stroke: white;
  stroke-opacity: .5;
  stroke-width: 2px;
  pointer-events: none;
}

svg text {
  fill: white;
  font-family: FontAwesome;
  font-size: 12pt;
  pointer-events: none;
}

svg text.highlight {
  fill: blue;
  font-family: FontAwesome;
  pointer-events: none;
}
